<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Criancas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" routerLink="/home">
    Voltar
  </ion-button>

  <ion-card *ngFor="let crianca of criancas" (click)="verDetalhes(crianca)">
    <ion-card-header>
      <ion-card-title>{{ crianca.nome }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Idade: {{ crianca.idade }} anos</p>

      <ion-badge [color]="getStatusColor(crianca.statusVacinal)">
        {{ getStatusLabel(crianca.statusVacinal) }}
      </ion-badge>
    </ion-card-content>
  </ion-card>
</ion-content>
