.calendario-card {

  padding: 20px;

}

.vacina-hoje {

  background: #ABC270;
  color: white;
  border-radius: 12px;
  padding: 10px;

}

.vacina-futura {

  background: #FEC868;
  color: #473C33;
  border-radius: 12px;
  padding: 10px;

}

.vacina-atrasada {

  background: #FDA769;
  color: white;
  border-radius: 12px;
  padding: 10px;

}

ion-datetime {

  width: 100%;

}
