.campanha-card {

  border-left: 8px solid #FDA769;

}

.campanha-titulo {

  color: #473C33;
  font-size: 1.4rem;
  font-weight: bold;

}

.localizacao {

  color: #666;

}

.data-campanha {

  background: #FEC868;
  padding: 8px;
  border-radius: 10px;
  display: inline-block;

}

.ativa {

  background: #ABC270;
  color: white;
  padding: 6px 12px;
  border-radius: 20px;

}
