<ion-header>
  <ion-toolbar color="success">
    <ion-title>Campanhas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card color="warning">

    <ion-card-header>
      <ion-card-title>
        Campanha Influenza 2026
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <p>
        Data:
        01/07/2026 até 31/07/2026
      </p>

      <p>
        Local:
        UBS Centro
      </p>

      <p>
        Endereço:
        Rua das Flores, 123
      </p>

    </ion-card-content>

  </ion-card>

</ion-content>
