<ion-header>
  <ion-toolbar color="success">
    <ion-title>Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>

    <ion-item>
      <ion-label>Notificações</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Lembrete de Vacinas</ion-label>
      <ion-toggle checked="true"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Modo Escuro</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>

  </ion-list>

  <ion-button expand="block" color="danger">
    Sair
  </ion-button>

</ion-content>
