.config-card {

  padding: 15px;

}

.config-title {

  color: #473C33;
  font-weight: 700;

}

ion-toggle {

  --handle-background: #ABC270;

  --background-checked: #ABC270;

}

.logout-btn {

  margin-top: 30px;

  --background: #FDA769;

}

.config-section {

  margin-bottom: 25px;

}
