.crianca-card {

  transition: .3s;

}

.crianca-card:hover {

  transform: translateY(-4px);

}

.nome-crianca {

  color: #473C33;
  font-size: 1.3rem;
  font-weight: 700;

}

.status-ok {

  color: #ABC270;
  font-weight: bold;

}

.status-pendente {

  color: #FDA769;
  font-weight: bold;

}

.avatar-crianca {

  width: 70px;
  height: 70px;
  border-radius: 50%;

}

.historico-btn {

  margin-top: 10px;

}
