<ion-header>
  <ion-toolbar color="success">
    <ion-title>Crianças</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>

    <ion-card-header>
      <ion-card-title>Sofia Oliveira</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <p>Idade: 2 anos</p>

      <p>Status: Em dia</p>

      <ion-button size="small">
        Ver Perfil
      </ion-button>

      <ion-button size="small" fill="outline">
        Histórico
      </ion-button>

    </ion-card-content>

  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-title>Lucas Oliveira</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <p>Idade: 5 anos</p>

      <p>Status: Pendente</p>

      <ion-button size="small">
        Ver Perfil
      </ion-button>

      <ion-button size="small" fill="outline">
        Histórico
      </ion-button>

    </ion-card-content>

  </ion-card>

</ion-content>
