<ion-header>
  <ion-toolbar color="success">
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>

    <ion-row>

      <ion-col size="4">
        <ion-card color="success">
          <ion-card-content>
            <h2>80%</h2>
            <p>Em Dia</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card color="warning">
          <ion-card-content>
            <h2>15%</h2>
            <p>Pendentes</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card color="tertiary">
          <ion-card-content>
            <h2>5%</h2>
            <p>Em Andamento</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-card>

    <ion-card-header>
      <ion-card-title>
        Próximas Vacinas
      </ion-card-title>
    </ion-card-header>

    <ion-list>

      <ion-item>
        Pentavalente - 15/07/2026
      </ion-item>

      <ion-item>
        Poliomielite - 20/07/2026
      </ion-item>

      <ion-item>
        Febre Amarela - 01/08/2026
      </ion-item>

    </ion-list>

  </ion-card>

</ion-content>
