.stats-grid {

  display: grid;

  grid-template-columns:
  repeat(auto-fit,minmax(150px,1fr));

  gap: 15px;

}

.stat-card {

  text-align: center;
  color: white;
  padding: 20px;

}

.em-dia {

  background: #ABC270;

}

.pendente {

  background: #FEC868;
  color: #473C33;

}

.andamento {

  background: #FDA769;

}

.percentual {

  font-size: 2rem;
  font-weight: bold;

}

.proximas-vacinas {

  margin-top: 20px;

}

.proximas-vacinas ion-item {

  border-left: 4px solid #ABC270;

}
