<ion-header>
  <ion-toolbar color="success">
    <ion-title>VacinaKids</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Bem-vindo ao VacinaKids
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      Plataforma para acompanhamento da vacinação infantil.

      <ul>
        <li>Controle de vacinas</li>
        <li>Histórico vacinal</li>
        <li>Campanhas de vacinação</li>
        <li>Alertas de pendências</li>
      </ul>

    </ion-card-content>
  </ion-card>

</ion-content>
