.relatorio-card {

  text-align: center;

}

.numero-relatorio {

  font-size: 2.5rem;
  font-weight: bold;
  color: #ABC270;

}

.grafico-container {

  margin-top: 20px;

}

.resumo {

  background: white;
  padding: 15px;
  border-radius: 15px;

}

.indicador {

  border-left: 5px solid #ABC270;
  padding-left: 10px;

}
