<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Campanhas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" routerLink="/home">
    Voltar
  </ion-button>

  <ion-card *ngFor="let campanha of campanhas">
    <ion-card-header>
      <ion-card-title>{{ campanha.titulo }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>{{ campanha.descricao }}</p>
      <p>Público: {{ campanha.publicoAlvo }}</p>
      <p>Período: {{ campanha.dataInicio }} até {{ campanha.dataFim }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
