<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Vacina Kids</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Painel Geral</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <p>👶 Crianças: {{ totalCriancas }}</p>

      <p>✅ Em dia: {{ vacinasEmDia }}</p>

      <p>⚠️ Pendentes: {{ vacinasPendentes }}</p>

      <p>📢 Campanhas: {{ campanhasAtivas }}</p>

    </ion-card-content>
  </ion-card>

</ion-content>
