:host {

  --verde: #ABC270;
  --amarelo: #FEC868;
  --laranja: #FDA769;
  --marrom: #473C33;

}

.toolbar-principal {

  --background: #473C33;
  --color: white;

}

.container {

  padding: 20px;

}

.hero {

  text-align: center;

  margin-top: 30px;

  margin-bottom: 30px;

}

.hero h1 {

  color: #473C33;

  font-size: 30px;

  font-weight: bold;

}

.hero p {

  color: #666;

}

ion-card {

  border-radius: 20px;

  margin-bottom: 20px;

  background: #FEC868;

}

ion-button:first-of-type {

  --background: #ABC270;

  margin-bottom: 10px;

}

ion-button:last-of-type {

  --border-color: #FDA769;

  --color: #473C33;

}
